<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Bus Booking - Safe & Smart{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <header>
      {% block header %}
      <nav class="navbar">
        <div class="logo">BusSafe</div>
        <ul class="nav-links">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav>
      {% endblock %}
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>&copy; {% now "Y" %} BusSafe - Book Safe with Us</p>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
    <!-- baadaye -->
  </body>
</html>
